body {
  overflow-x: hidden;
}

/* Header includes logo, signup and signin */
.header-container {
    position: relative;
    bottom: 20px;
    right: 8px;
}

/* Logo */
#logo{
    font-family: 'Montez', cursive;
    color: blue;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

/* Subheading */
#subheading{
    font-family: 'Ubuntu Mono', monospace;
    position: relative;
    bottom: 15px;
    left: 12px;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-signup{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  /* Sigin Modal */
  .modal-content-signin{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Close Button for signin modal */
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Close button for signin modal */
  .close-signIn {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-signIn:hover,
  .close-signIn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Modal Header */
  .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: #000000;
    font-family: 'Lato', sans-serif;
  }
  
  /* Modal body */
  .modal-body {
    padding: 2px 16px;
    position: relative;
    left: 60px;
    }
  
  /* Modal footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
  }
  
  /* Greyline to separate header and modal body */
  #greyline-modal{
    position: relative;
    left: 15px;
    background-color: grey;
    width: 380px;
    height: 2px;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Input fields */
  .custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }
  
  .custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
  }
  
  .custom-field .error-message:empty {
    opacity: 0;
  }
  
  /* THREE */
  .custom-field.three {
    --draw-duration: 0.1s;
    --draw-color: #222;
    --draw-line-width: 2px;
    --draw-easing: linear;
  }
  
  .custom-field.three .border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }
  
  .custom-field.three .border::after, 
  .custom-field.three .border::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
  }
  
  .custom-field.three .border::before {
    left: 0;
    bottom: 0;
    border-right: 0px solid var(--draw-color);
    border-bottom: 0px solid var(--draw-color);
    transition: 
      border 0s linear calc(var(--draw-duration) * 4),
      height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2),
      width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
  }
  
  .custom-field.three .border::after {
    right: 0;
    top: 0;
    border-left: 0px solid var(--draw-color);
    border-top: 0px solid var(--draw-color);
    transition: 
      border 0s linear calc(var(--draw-duration) * 2),
      height var(--draw-duration) var(--draw-easing),
      width var(--draw-duration) var(--draw-easing) var(--draw-duration);
  }
  
  .custom-field.three input:focus ~ .border::before,
  .custom-field.three input:not(:placeholder-shown) ~ .border::before,
  .custom-field.three input.dirty ~ .border::before,
  .custom-field.three input:focus ~ .border::after,
  .custom-field.three input:not(:placeholder-shown) ~ .border::after,
  .custom-field.three input.dirty ~ .border::after {
    width: 100%;
    height: 100%;
    border-width: var(--draw-line-width);
  }
  
  .custom-field.three input:not(:placeholder-shown) ~ .border::before,
  .custom-field.three input.dirty ~ .border::before,
  .custom-field.three input:focus ~ .border::before {
    transition-delay: 0s, var(--draw-duration), 0s;
  }
  
  .custom-field.three input:not(:placeholder-shown) ~ .border::after,
  .custom-field.three input.dirty ~ .border::after,
  .custom-field.three input:focus ~ .border::after {
    transition-delay: 
      calc(var(--draw-duration) * 2), 
      calc(var(--draw-duration) * 3), 
      calc(var(--draw-duration) * 2);
  }
  
  label{
    font-size: 17px;
    position: relative;
    top: 4px;
  }
  
  input{
    margin-top: 7px;
  }
  
  /* Signup button in signup modal */
  .signUp-btn {
    position: relative;
    top: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    background-color: green;
  }

  /* Signup button in header */
  .signup-btn-primary{
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 5px;
    width: 70px;
    margin-right: 8px;
    cursor: pointer;
  }

  /* Signin button in header */
  .signin-btn-primary{
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 5px;
    width: 70px;
    cursor: pointer;
  }

  /* Header buttons */
  #header-btn{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 80px;
  }

  /* Signin Modal footer */
  #signIn-footer{
    position: relative;
    top: 10px;
    left: 45px;

  }

  /* Move from signin to signup modal */
  .signin-to-signup{
    color: blue;
    cursor: pointer;
  }
  /* Header (ENDS) - includes logo, signup and signin */

  /* Posts details (STARTS) */
  #title-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
  }

  /* Title of the Post */
  #title-text {
    outline-offset: 3px;
    padding-left: 390px;
    padding-right: 340px;
  }

  /* Username of the Author */
  #author-name {
    position: relative;
    left: 30px;
    bottom: 60px;
  }

  #author-name-styling {
    font-size: 18px;
    font-family: 'IM Fell English SC', serif;
  }

  /* EDIT Button */
  .edit-btn-styling {
    background-color: #ed2553;
    border: 1px solid gray;
    width: 70px;
    padding: 5px;
    height: 27px;
    color: white;
    position: relative;
    left: 1210px;
    bottom: 40px;
    cursor: pointer;
  }

  /* SAVE Button */
  .save-btn-styling {
    background-color: #ed2553;
    border: 1px solid gray;
    width: 70px;
    padding: 5px;
    height: 27px;
    color: white;
    position: relative;
    left: 1210px;
    bottom: 40px;
    cursor: pointer;
  }

  .fa-save {
    position: relative;
    left: 7px;
  }


  /* EDIT button */
  .fa-edit {
    position: relative;
    left: 7px;
    bottom: 1px;
  }

  /* Content of the Post */
  .post-body {
    margin-left: 30px;
    margin-right: 40px;
    position: relative;
    bottom: 100px;
  }

  #post-content {
    text-align: justify;
  }

  /* LIKE button */
  .like-btn-styling {
    background-color: #ed2553;
    border: 1px solid gray;
    width: 70px;
    padding: 5px;
    height: 27px;
    color: white;
    position: relative;
    left: 30px;
    bottom: 95px;
    cursor: pointer;
  }

  .fa-thumbs-up {
    position: relative;
    right: 4px;
  }

  /* Like counter message*/
  #like-counter {
    color: #aaa;
    position: relative;
    left: 30px;
    bottom: 100px;
  }

  /* Comment Box */
  #comment-box {
    position: relative;
    left: 30px;
    bottom: 107px;
    width: 932px;
    height: 60px;
  }

  textarea:focus {
    outline: none;
    border: 2px solid lightblue;
  }

  /* COMMENT button */
  .comment-btn-styling {
    background-color: #ed2553;
    border: 1px solid gray;
    width: 70px;
    padding: 5px;
    height: 27px;
    color: white;
    position: relative;
    right: 908px;
    bottom: 78px;
    cursor: pointer;
  }

  /* All Comments heading */
  #all-comments-heading{
    position: relative;
    left: 30px;
    bottom: 80px;
  }

  /* Comments */
  #comment-styling {
    position: relative;
    left: 30px;
    bottom: 80px;
    margin-bottom: -30px;
    margin-right: 400px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 20px solid #e2e4e6;
    border-left: 10px solid #e2e4e6;
    border-bottom: 20px solid #e2e4e6;
    border-right: 10px solid #e2e4e6;
    color: black;
  }