body{
    background-color: #ffeedd;
}

#logo{
    font-family: 'Montez', cursive;
    color: blue;
    position: relative;
    top: 11px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
}

#subheading{
    font-family: 'Ubuntu Mono', monospace;
    position: relative;
    left: 12px;
    top: 2px;
    font-size: 11px;
    font-weight: bold;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-signup{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 470px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-content-signin{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #000000;
    position: relative;
    left: 360px;
    bottom: 5px;
    font-size: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close-signIn {
    color: #000000;
    position: relative;
    left: 360px;
    font-size: 30px;
  }
  
  .close-signIn:hover,
  .close-signIn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: #000000;
    font-family: 'Lato', sans-serif;
  }

  #signup-title {
    position: relative;
    right: 230px;
    top: 10px;
  }
  
  #signin-title{
    position: relative;
    right: 180px;
    top: 10px;
  }

  .modal-body {
    padding: 2px 16px;
    position: relative;
    bottom: 15px;
    left: 60px;
    }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
  }
  
  #greyline-modal{
    position: relative;
    left: 15px;
    background-color: grey;
    width: 380px;
    height: 1px;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  .custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }
  
  .custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
  }
  
  .custom-field .error-message:empty {
    opacity: 0;
  }
  
  /* THREE */
  .custom-field.three {
    --draw-duration: 0.1s;
    --draw-color: #222;
    --draw-line-width: 2px;
    --draw-easing: linear;
  }
  
  .custom-field.three .border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }
  
  .custom-field.three .border::after, 
  .custom-field.three .border::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
  }
  
  .custom-field.three .border::before {
    left: 0;
    bottom: 0;
    border-right: 0px solid var(--draw-color);
    border-bottom: 0px solid var(--draw-color);
    transition: 
      border 0s linear calc(var(--draw-duration) * 4),
      height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2),
      width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
  }
  
  .custom-field.three .border::after {
    right: 0;
    top: 0;
    border-left: 0px solid var(--draw-color);
    border-top: 0px solid var(--draw-color);
    transition: 
      border 0s linear calc(var(--draw-duration) * 2),
      height var(--draw-duration) var(--draw-easing),
      width var(--draw-duration) var(--draw-easing) var(--draw-duration);
  }
  
  .custom-field.three input:focus ~ .border::before,
  .custom-field.three input:not(:placeholder-shown) ~ .border::before,
  .custom-field.three input.dirty ~ .border::before,
  .custom-field.three input:focus ~ .border::after,
  .custom-field.three input:not(:placeholder-shown) ~ .border::after,
  .custom-field.three input.dirty ~ .border::after {
    width: 100%;
    height: 100%;
    border-width: var(--draw-line-width);
  }
  
  .custom-field.three input:not(:placeholder-shown) ~ .border::before,
  .custom-field.three input.dirty ~ .border::before,
  .custom-field.three input:focus ~ .border::before {
    transition-delay: 0s, var(--draw-duration), 0s;
  }
  
  .custom-field.three input:not(:placeholder-shown) ~ .border::after,
  .custom-field.three input.dirty ~ .border::after,
  .custom-field.three input:focus ~ .border::after {
    transition-delay: 
      calc(var(--draw-duration) * 2), 
      calc(var(--draw-duration) * 3), 
      calc(var(--draw-duration) * 2);
  }
  
  label{
    font-size: 17px;
    position: relative;
    top: 4px;
  }
  
  input{
    margin-top: 7px;
  }
  
  .signUp-btn {
    position: relative;
    top: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    background-color: green;
  }

  .signup-btn-primary{
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 2px;
    width: 70px;
    size: 20px;
    font-size: 14px;
    margin-right: 8px;
  }

  .signin-btn-primary{
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 2px;
    width: 70px;
    font-size: 14px;
    size: 20px;
  }

  #header-btn{
    display: flex;
    justify-content: flex-end;
    position:relative;
    right: 10px;
    position: relative;
    bottom: 59px;
  }

  #signIn-footer{
    position: relative;
    top: 10px;
    left: 45px;

  }

  .signin-to-signup{
    color: blue;
    cursor: pointer;
  }

  /* 
    POSTCARD
  */
  #username-display {
    background-color: #fff;
    position: relative;
    right: 20px;
}

#postcard-color {
    background-color: #E8E8E8;
}

#postcard-title {
    color: #888D8D;
}

#delete-icon{
  position: relative;
  left: 400px;
  top: 5px;
  color: #818181;
  cursor: pointer;
}

#ellipsis{
  position: relative;
  top: 140px;
  left: 380px;
  color: #818181;
}

.card-body {
    position: relative;
  bottom: 33px;
  right: 15px;
  width: 300px;
  }


#username-text {
    position: relative;
  left: 20px;
  top: 60px;
  color: #70747E;
}

.container{
  border: 1px solid gray;
  border-radius: 15px; 
  overflow: hidden;
  width: 600px;
  height: 170px;
}

.card-text{
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  width: 420px;
}

.posts-wrapper {
  position: relative;
  right: 55px;
  bottom: 40px;
  margin-left: 60px;
  margin-right: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 30px;
}
  
.modal-content-delete{
  position: relative;
  top: 100px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 27%;
  height: 125px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop-delete;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop-delete;
  animation-duration: 0.6s;
}

@-webkit-keyframes animatetop-delete {
  from {top:-300px; opacity:0} 
  to {top:100px; opacity:1}
}

@keyframes animatetop-delete {
  from {top:-300px; opacity:0}
  to {top:100px; opacity:1}
}

.close-delete {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-delete:hover,
.close-delete:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.delete-yes-btn {
  position: relative;
  top: 20px;
  right: 55px;
  border: 1px solid gray;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: green;
}

.delete-no-btn {
  position: relative;
  top: 20px;
  left: 120px;
  border: 1px solid gray;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: red;
}

#delete-ask {
  position: relative;
  top: 15px;
  right: 45px;
}